@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: url("https://img.freepik.com/premium-photo/poker-table-background_77211-140.jpg?w=2000");
}

div {
  top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  position: absolute;
  font-size: 60px;
  top: 60px;
  border-radius: 15px;
  margin-top: 1%;
  border: 1px solid darkblue;
  height: 300px;
  width: 200px;
  box-shadow: 10px 10px 10px -6px black;
}

.top-icon {
  position: relative;
  top: -20px;
  right: 60px;
}

.bot-icon {
  position: relative;
  bottom: -20px;
  left: 60px;
  transform: rotate(180deg);
}

.button {
  position: relative;
  top: 400px;
}

.btnGen {
  color: gold;
  background-color: transparent;
  border-color: gold;
  width: 170px;
  height: 35px;
  border-radius: 10px;
}

.form-check {
  position: relative;
  top: 370px;
}
